<!DOCTYPE html>
<meta charset="utf-8">
<html lang="en">
  <head>
    <title>Header</title>
  </head>
  <body>

<h1>Tiny App, a division of Lighthouse Labs</h1>
<p>Welcome</p>


<% if(user === undefined) { %>
  <a class="link" href="/login">Login</a><a class="link" href="/register">Register</a>
<% } else { %>

  <%= user %>

    <a class="link" href="/logout">Logout</a>

  <% } %>





  </body>
</html>