<!DOCTYPE html>
<meta charset="utf-8">
<html lang="en">
  <head>
    <title>Header</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <a href="/"><img class="logo" src="https://drive.google.com/uc?id=1nnp9QnhoCxKx4y4R-szIR7ILtITWcVVa" alt="Logo" ></a>
    <div class="login">
      <ul>
      <% if(user === undefined) { %>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
      <% } else { %>
        <div class="email"><%= email %></div>
        <li><a href="/logout">Logout</a></li>
      <% } %>
      </ul>
    </div>
  </body>
</html>