<!DOCTYPE html>
<meta charset="utf-8">
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body>
    <header>
      <% include partials/_header %>
    </header>
    <br>
    <br>
      <h1>Login</h1>
      <form method="POST" action="/login">
        <input type="email" name="email" style="width: 200px" placeholder="Email"></input>
        <br>
        <input type="password" name="password" style="width: 200px" placeholder="Password"></input>
        <br>
        <input type="submit" value="Login"></input>
      </form>
      <br>
      <p>Please login to get short!</p>
  </body>
</html>