<!DOCTYPE html>
<meta charset="utf-8">
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body>

    <header>
      <% include partials/_header %>
    </header>



      <ul>
        <% for(var k in urls) { %>
        <li><%= k %> ---> <%= urls[k] %></li>
        <form method="POST" action="/urls/<%= k %>/delete">
          <input type="submit" value="Delete"></input>
          <input type="submit" value="Edit"></input>
        </form>
        <br>
        <% } %>
      </ul>


      <a href="/urls/new">Shorten your HTML with just one easy click!</a>
  </body>
</html>