<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body>
    <header>
      <% include partials/_header %>
    </header>
    <p>Short URL:<a href="/u/<%= shortUrl %>"><%= shortUrl %></a>  </p>
      <form method="POST" action="/urls/<%= shortUrl %>">
        <input type="text" id="longUrl" name="longUrl" size="35" value="<%= longUrl %>"></input>
        <input type="submit" value="Update"></input>
      </form>
  </body>
</html>



