<!DOCTYPE html>
<meta charset="utf-8">
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body>

    <header>
      <% include('partials/_header') %>
    </header>

      <p>Testing html</p>

      <ul>
        <% for(var k in urls) { %>
        <li><%= urls[k] %> - - - <%= k %></li>
        <br>
        <% } %>
      </ul>

      <a href="urls/new">Shorten your HTML with just one easy click!</a>
  </body>
</html>