<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body>

    <header>
      <%- include('partials/_header') -%>
    </header>


      <p> This is the page of the short url</p>



      <!-- a dead link for shortening a new url -->
      <a href="">Shorten your HTML with just one easy click!</a>
  </body>
</html>